
<%- include('../partials/adminPartials/__adminHeader__') %>

        <!-- MAIN -->
        <main>
            
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Recent Orders</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Date Order</th>
                                <th>Status</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < FULLDATA.length; i++ ) { %>
                                <tr>
                                    <td>
                                        <img src="img/people.png">
                                        <p><%= FULLDATA[i].name %></p>
                                    </td>
                                    <td>01-10-2021</td>
                                    <td>01-10-2021</td>
                                    <td><span class="status pending">pending</span>
                                        <span class="status completed">Completed</span>
                                    </td>
                                    <td><span class="status completed"><a style="color: wheat;" href="/admin/view/order?id=<%= FULLDATA[i]._id %>">View</a></span></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="todo">
					<div class="head">
						<h3>Todos</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div> -->
            </div>
        
            <%- include('../partials/adminPartials/__adminFooter__') %>