<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="">
  <link id="showcase-cta-google-fonts" rel="stylesheet" type="text/css" media="all"
    href="//fonts.googleapis.com/css?family=DM%20Sans%3A400%2C500%2C700&amp;subset=latin%2Clatin-ext">
    <link rel="icon" type="image/x-icon" href="/images/logo-header-regular.png">
  <meta name="robots" content="noindex, nofollow">

  <title>Home - Eyewear Store</title>
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Home - Eyewear Store">
  <meta property="og:description"
    content="Original Sunglasses Original Sunglasses Fusce scelerisque tellus eget nisl vulputate, et eleifend sapien tempor nulla tristique. Shop Now Text Here A few words about us Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Read more Add Your Heading Be different in your own way! Lorem … Home Read More »">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="Eyewear Store">
  <meta property="article:modified_time" content="2022-09-14T10:25:12+00:00">
  <meta property="og:image" content="images/hero-02.png">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta name="generator"
    content="Elementor 3.16.5; features: e_dom_optimization, e_optimized_assets_loading, e_optimized_css_loading, additional_custom_breakpoints; settings: css_print_method-external, google_font-enabled, font_display-auto">
</head>

<body 
  class="home page-template-default page page-id-14 wp-custom-logo theme-astra woocommerce-js ast-desktop ast-page-builder-template ast-no-sidebar astra-4.3.1 ast-single-post ast-inherit-site-logo-transparent ast-theme-transparent-header ast-hfb-header ast-full-width-primary-header elementor-default elementor-kit-4 elementor-page elementor-page-14 astra-addon-4.1.5">

  <div class="hfeed site" id="page">

    <%- include('partials/__header__') %>

    <div id="content" class="site-content">
      <div class="ast-container">
        <div id="primary" class="content-area primary">
          <main id="main" class="site-main">
            <article class="post-14 page type-page status-publish ast-article-single" id="post-14"itemscope="itemscope">
              <header class="entry-header ast-no-thumbnail ast-no-title ast-header-without-markup">
              </header>
              <div class="entry-content clear" itemprop="text">
                <div data-elementor-type="wp-page" data-elementor-id="14" class="elementor elementor-14">
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-1a1232f elementor-section-height-min-height elementor-section-items-bottom elementor-section-boxed elementor-section-height-default"
                    data-id="1a1232f" data-element_type="section" data-settings="{"
                    background_background":"gradient"}"="">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-no">
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6f80ed9"
                        data-id="6f80ed9" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                          <div
                            class="elementor-element elementor-element-b77f218 elementor-widget elementor-widget-image"
                            data-id="b77f218" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                              <img decoding="async" loading="lazy" width="866" height="622" src="images/hero-02.png"
                                class="attachment-full size-full wp-image-29" alt=""
                                srcset="images/hero-02.png 866w, images/hero-02-600x431.png 600w, images/hero-02-300x215.png 300w, images/hero-02-768x552.png 768w, images/hero-02-400x287.png 400w"
                                sizes="(max-width: 866px) 100vw, 866px">
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-cb9ac61 elementor-widget elementor-widget-heading"
                            data-id="cb9ac61" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h6 class="elementor-heading-title elementor-size-default">Original Sunglasses</h6>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-34fd8ed elementor-widget elementor-widget-heading"
                            data-id="34fd8ed" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h1 class="elementor-heading-title elementor-size-default">Original Sunglasses</h1>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-b21bce8 elementor-widget elementor-widget-text-editor"
                            data-id="b21bce8" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <p>Fusce scelerisque tellus eget nisl vulputate, et eleifend sapien tempor nulla
                                tristique.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div id="carouselExampleControls" class="carousel slide" style="height: 50vh;" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/images/corosoul-2.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="/images/bg-01.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="/images/man-looks-to-the-left-as-he-adjusts-his-glasses.webp" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" style="background: none;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" style="background: none;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-5114970 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="5114970" data-element_type="section" style="background-color: rgb(255, 240, 223);">
                    <div class="elementor-container elementor-column-gap-no">
                      <div
                        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5e0244d"
                        data-id="5e0244d" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                          <div
                            class="elementor-element elementor-element-898b594 elementor-widget elementor-widget-heading"
                            data-id="898b594" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h6 class="elementor-heading-title elementor-size-default">Text Here</h6>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-c544ab1 elementor-widget elementor-widget-heading"
                            data-id="c544ab1" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h2 class="elementor-heading-title elementor-size-default">A few words about us</h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-755555f elementor-widget elementor-widget-text-editor"
                            data-id="755555f" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3119487"
                        data-id="3119487" data-element_type="column">


                        <div class="card" style="    width: 100%;
                        align-items: center;
                        text-align: center;
                        border: none;
                        background: none;
                    ">
                          <img class="card-img-top" src="/images/product-09-a-600x600.jpg" alt="Card image cap" style="height: 400px;
                          width: 450px;
                          border-radius: 150px;
                          margin-bottom: 2rem;">
                          <div class="card-body">
                            <h5 class="card-title">Bifocals</h5>
                            <a href="/product-category/women" class="btn btn-primary" style="text-decoration: none;
                            background: none;
                            border: 1px solid black;
                            color: black;">SHOP NOW</a>
                          </div>
                        </div>



                      </div>
                      <div
                        class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-43cde49"
                        data-id="43cde49" data-element_type="column">
                        <div class="card" style="    width: 100%;
                        align-items: center;
                        text-align: center;
                        border: none;
                        background: none;
                    ">
                          <img class="card-img-top" src="/images/product-10-a-400x400.jpg" alt="Card image cap" style="height: 400px;
                          width: 450px;
                          border-radius: 150px;
                          margin-bottom: 2rem;">
                          <div class="card-body">
                            <h5 class="card-title">Bifocals</h5>
                            <a href="/product-category/men" class="btn btn-primary" style="text-decoration: none;
                            background: none;
                            border: 1px solid black;
                            color: black;">SHOP NOW</a>
                          </div>
                        </div>


                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-6479e17 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="6479e17" data-element_type="section" data-settings="{"
                    background_background":"classic"}"="">
                    <div class="elementor-container elementor-column-gap-no">
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4986efb"
                        data-id="4986efb" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                          <div
                            class="elementor-element elementor-element-c9b4a59 elementor-widget elementor-widget-heading"
                            data-id="c9b4a59" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h6 class="elementor-heading-title elementor-size-default">Add Your Heading</h6>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-a4140ba elementor-widget elementor-widget-heading"
                            data-id="a4140ba" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                              <h2 class="elementor-heading-title elementor-size-default">Be different in your own way!
                              </h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-b76a97b elementor-widget elementor-widget-text-editor"
                            data-id="b76a97b" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
    <div class="astra-mobile-cart-overlay"></div>    
    <%- include('partials/__footer__') %>
  </div>
  <script id="astra-theme-js-js-extra">
    var astra = { "break_point": "921", "isRtl": "", "is_scroll_to_id": "", "is_scroll_to_top": "", "is_header_footer_builder_active": "1", "edit_post_url": "https:\/\/websitedemos.net\/eyewear-store-04\/wp-admin\/post.php?post={{id}}&action=edit", "ajax_url": "https:\/\/websitedemos.net\/eyewear-store-04\/wp-admin\/admin-ajax.php", "shop_infinite_count": "2", "shop_infinite_total": "0", "shop_pagination": "infinite", "shop_infinite_scroll_event": "scroll", "shop_no_more_post_message": "No more products to show.", "checkout_prev_text": "Back to my details", "checkout_next_text": "Proceed to payment", "show_comments": "Show Comments", "shop_quick_view_enable": "on-image", "shop_quick_view_stick_cart": "1", "shop_quick_view_auto_height": "1", "woo_cart_empty_featured_product": "", "single_product_qty_ajax_nonce": "c48c5b3727", "single_product_ajax_add_to_cart": "1", "is_cart": "", "is_single_product": "", "view_cart": "View cart", "cart_url": "https:\/\/websitedemos.net\/eyewear-store-04\/cart\/", "checkout_url": "https:\/\/websitedemos.net\/eyewear-store-04\/checkout\/", "add_to_cart_options_single": "rt_add_to_cart", "is_astra_pro": "1" };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="javascripts/frontend.js" id="astra-theme-js-js"></script>
</body>

</html>
