<%- include('partials/__userAddConfig__') %>


    <section id="sidebar">
        <a href="/" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">HOME</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="/settings">
                    <i class='bx bxs-user'></i>
                    <span class="text">Account Details</span>
                </a>
            </li>
            <li>
                <a href="/settings/addrs">
                    <i class='bx bx-home'></i>
                    <span class="text">Address</span>
                </a>
            </li>
            <li class="active">
                <a href="/settings/orders">
                    <i class='bx bxs-shopping-bags'></i>
                    <span class="text">My Orders</span>
                </a>
            </li>
            <!-- <li>
            <a href="#">
                <i class='bx bxs-message-dots'></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-group'></i>
                <span class="text">Team</span>
            </a>
        </li> -->
        </ul>
        <!-- <ul class="side-menu"> -->
        <!-- <li>
            <a href="#">
                <i class='bx bxs-cog' ></i>
                <span class="text">Settings</span>
            </a>
        </li> -->
        <!-- <li>
            <a href="#" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Logout</span>
            </a>
        </li> -->
        <!-- </ul> -->
    </section>

    <!-- CONTENT -->
    <section id="content">
        <div class="container" style="padding: 3rem 2rem;">
            <div class="row">
                <div class="col">
                    <div>
                        <h4>product Image</h4>
                    </div>
                    <div>
                        <h4>product Image2</h4>
                    </div>
                </div>
                <div class="col">
                    <h5>product Name</h5>
                </div>
                <div class="col">
                    quantity:1
                </div>
                <div class="col">
                    <h4>$130</h4>
                </div>
                <div class="col">
                    <div>
                        <h4>pending</h4>
                    </div>
                    <div>
                        <h4>cancel</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT -->


    <%- include('partials/__useraddFoo__') %>